.footer-copyright{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #004587;
    margin-top: 50px;
    font-size: 0.9em;
}

.bbImages{
    width: 425px;
    height: 415px;
}

